*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    font-size: 20px;
}

img{
    width: 40px;
}

.template{
    display: none;
}

body{
    padding-left: 250px;
}

/*  Sidebar */

.sidebar{
    width: 250px;
    height: 100vh;
    color: #fff;
    background: #1992d4;
    padding: 15px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.sidebar>h2{
    font-size: 2em;
}

.sidebar>ul>li{
    list-style: none;
    font-size: 1.4em;
    height: 1.8em;
}

.sidebar>ul>li>a{
    text-decoration: none;
    color: #fff;

    display: flex;
    align-items: center;
    gap: .5em;
}

.sidebar>ul>li>a>img {
    filter: invert(100%);
    width: 2em;
}

/*  !Sidebar */

/*   Header  */

.header{
    width: calc(100vw - sidebar);
    height: 220px;
    padding: 1em 2em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.search-bar{
    width: calc(100% - 16em);
    height: 1.6em;
    background: #e2e8f0;
    padding: 0 .2em;
    border: 1px solid #000;
    border-radius: 1em;

    display: flex;
    align-items: center;
}

.search-bar>img{
    width: 1.4em;
}

.search-bar>input{
    width: 100%;
    height: 1.6em;
    background: transparent;
    outline: none;
    border: none;
}

.user-area{
    width: 16em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.user-area>.icon{
    width: 1.6em;
}

.small-pp{
    width: 2.4em;
    border: 2px solid #000;
    border-radius: 50%;
}

.user-hero{
    display: flex;
    align-items: center;
    gap: 1em;
}

.user-hero>img{
    width: 4em;
    border-radius: 50%;
    border: 3px solid #000;
}

.user-hero>p{
    font-size: .9em;
}

.user-hero>p>.user{
    font-size: 1.2em;
    font-weight: 600;
}

.buttons{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.buttons>.btn{
    width: 4.4em;
    height: 1.6em;
    color: #fff;
    background: #1992d4;
    border: none;
    border-radius: 1em;
}

.user-area>.icon:hover,
.user-area>.small-pp:hover,
.buttons>.btn:hover{
    cursor: pointer;
}

/*  !Header */

/*    Main  */

.main{
    background: #e2e8f0;
    padding: 4vh 2vw;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2vw;
}

.item{
    background: #fff;
    padding: 10% 10%;
    border-left: 15px solid #d8cecc;
    border-radius: 20px;
    position: relative;
}

.item>a{
    text-decoration: none;
    color: #000;
}

.item>a>.preview,
.item>a>p{
    width: 70%;
    max-width: 300px;
    display: block;
    margin: 0 auto 10px;
}

.item>a>p{
    white-space: nowrap;
}

.item>.icons{
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.item>.icons>a>.icon{
    width: 30px;
}

/*  !Main   */